input{
    padding: 17px;
    width: 380px;
    text-align:justify;
    border-color: white;
    background-color: brown;
    margin-top: 15px;
    color: white;
    border: solid;
}
form{
    background-color: brown;
    margin-left: 150px;
    

}
.forrm{
    margin-top: 60px;
}
div{
    background-color: brown;
    align-content: center;
}
.content{
    display: flex;
   
   
}
.all{
    
    background-color: brown;
    margin-left: 15px;
    
}
label{
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    position: relative;bottom: 3px;
    
}

input[type="checkbox"]{

width: 30px;
border: solid;
background-color: brown;
}
.but{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    background-color: white;
    border: solid;
    border-color: white;
    width: 340px;
    height: 50px;
    font-size:26px;
    padding-bottom: 8px;
    
    

}
#a{
color: white;
width: 380px;
height: 50px;
}
.triangle{
    
    width: 0;
    height: 0;
    border-bottom: 130px solid white;
    border-left: 130px solid transparent;
    position: relative;
    left: 1096px;
   
}
#des{
    width: 409px;
    height: 70px;
    background-color: brown;
    border: solid;
    border-color: white;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.rightside{
    margin-left: 110px;
    margin-bottom: 220px;
}
.p{
    font-size: 15px; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 520;
   
}
.p2{
    font-weight: 900;
    font-size: 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.custom-checkbox{
margin-bottom: 4px;
}
